{% extends 'common.html' %}

{% load static %}

{% block title %}
DashBoard
{% endblock %}

{% block content %}

DashBoard
<br/>

<br/>
name: {{userdata.stu_name}}
<br>
image: {{userdata.stu_image}}
<br>
<img src="{{userdata.stu_image.url}}" height="250px" width="200px" alt="" srcset="">
<a href="{{userdata.stu_image.url}}" target="_blank" download>Download Img</a>
<br/>
document: {{userdata.stu_file}}
<br>
<a href="{{userdata.stu_file.url}}" target="_blank" download>Download FILE</a>
<br/>
{% endblock %}